
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html,body{
  width: 100%;
  height:100%;
  overflow-x: hidden;
  color: black;
}
::selection{
  background-color:#2CBB84;
}
.mouse-dot{
    width: 100px;
    height:100px;
    background-color: rgba(118, 203, 242, 0.409);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-blend-mode: difference;
  }
  @media (max-width:720px) {
    .mouse-dot {
       display: none;
    }
  }
